*{
	padding:0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{background:#FEFEFE;}

.menu_bar{
 	display:none;
 }

.texto{
	font-family: Arial,'Time News Roman', Verdana;
}

header{
 	width:100%;
 }

header nav{
	background:#023859;
	border-radius:10px;
	z-index:1000;
	max-width:1000px;
	width:95%;
	margin:20px auto; 
}

header nav ul {
	list-style:none;
}

header nav ul li {
 	display:inline-block;
 	position:relative;
}

header nav li:hover{
	background:#67D41F;
}

header nav ul li a {
 	color:#fff;
 	display:block;
 	text-decoration:none;
 	padding:20px;
 }

header nav ul li a span{
 	margin-left:10px;
 	margin-right: 5px;
}

header nav li:hover .children{
	display: block;
}

header nav li .children{
	display: none;
	background: #296B83;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav li .children li {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);

}

header nav li .children li a {
	display: block;
}

header nav li .children li  a span {
	color: #fff;
	float: right;
	position: relative;
	margin-right: 0px;
	margin-left: 10px;
}

header nav li .children .icon-checkmark2{
	color: #fff; 
}

header nav ul li .caret{
	position: relative; 
	top: 3px;
	margin-left: 10px;
}

section {
	padding:20px;
}

@media screen and (max-width: 800px) {
	body{ 
		padding-top: 80px;
	}

	.menu_bar{
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		background: #67D41F;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
	
	 header nav {
		width: 80%;
		height: 100%;
		position: fixed;
		left: -100%;
		margin: 0;
		overflow: scroll;
	}
	
	header nav ul li {
		display: block;
		float:none;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	
	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children{
		display: none;
	}

	header nav ul li .children{
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left: 20px;
	}

	header nav ul li .caret{
		float: right;
	}
}