@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?t12g1z');
    src:    url('fonts/icomoon.eot?t12g1z#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?t12g1z') format('truetype'),
        url('fonts/icomoon.woff?t12g1z') format('woff'),
        url('fonts/icomoon.svg?t12g1z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}
.icon-point-down:before {
    content: "\ea05";
}
.icon-checkmark2:before {
    content: "\ea11";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-dropbox:before {
    content: "\eaae";
}
.icon-blogger:before {
    content: "\eab7";
}
.icon-skype:before {
    content: "\eac5";
}

